# Git files
.git
.gitignore

# Node modules - these will be installed inside the container
node_modules

# Build output - this is generated inside the container
build

# Docker files
Dockerfile
Dockerfile.dev
docker-compose.yml

# Environment variables
.env

# NPM debug log
npm-debug.log
